<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.dualblog.service.BlogService">
    <select id="getAllBlogs" resultType="com.ex.dualblog.model.Blog">
        SELECT * FROM test;
    </select>
</mapper>
