<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.dualblog.mapper.BlogMapper">
    <select id="getAllBlogs" resultType="com.ex.dualblog.model.Blog"> SELECT * FROM Blog; </select>

    <insert id="addBlog" parameterType="com.ex.dualblog.model.Blog"> INSERT INTO User (id, title,
        authorUUID, timestamp) VALUES (#{id}, #{title},#{authorUUID},#{timestamp}) </insert>
</mapper>